// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css?family=Caveat:400,700&display=swap&subset=cyrillic');
@import url('https://fonts.googleapis.com/css?family=Raleway:400,700&display=swap&subset=latin-ext');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
