.arrow-btn {
    width: 100px;
    top: 20px;
    left: -50px;
    z-index: -1;
}
main {
    padding-top: 3% !important;
}
.btn-wedding {
    background-color: #C1CEBE !important;
}
.font-caveat {
    font-family: 'Caveat', cursive;
}
.font-raleway {
    font-family: 'Raleway', sans-serif;
}
.font-alex {
    font-family: 'Alex Brush', cursive;
}
.big {
    font-size: 120% !important;
}
.bigger {
    font-size: 140% !important;
}
.biggest {
    font-size: 160% !important;
}
.font-2x {
    font-size: 200% !important;
}
.font-3x {
    font-size: 300% !important;
}
.font-4x {
    font-size: 400% !important;
}
h2.biggest {
    font-size: 160% !important;
}
.logo {
    width: 250px !important;
    height: auto !important;
}
#feedback.owl-carousel .owl-nav button.owl-prev{
    margin-right: 5%!important;
}
.p-6 {
    padding: 6rem!important;
}