.arrow-btn {
    width: 100px;
    top: 10px;
    left: -50px;
    z-index: -1;
}
.menu-burger
{
    cursor: pointer;
}
main {
    padding-top: 3% !important;
}
.btn-wedding {
    background-color: #C1CEBE !important;
}
.font-caveat {
    font-family: 'Caveat', cursive;
}
.font-raleway {
    font-family: 'Raleway', sans-serif;
}
.font-alex {
    font-family: 'Alex Brush', cursive;
}
.big {
    font-size: 120% !important;
}
.bigger {
    font-size: 140% !important;
}
.biggest {
    font-size: 160% !important;
}
.font-2x {
    font-size: 200% !important;
}
.font-3x {
    font-size: 300% !important;
}
.font-4x {
    font-size: 400% !important;
}
h2.biggest {
    font-size: 160% !important;
}
.logo {
    width: 250px !important;
    height: auto !important;
}
#feedback.owl-carousel .owl-nav button.owl-prev{
    margin-right: 5%!important;
}
.p-6 {
    padding: 6rem!important;
}
.nav-item {
    list-style: none;
}
#sync2 .owl-nav .owl-prev span, #sync2 .owl-nav .owl-next span
{
    display:none;
}
#sync2 .owl-nav .owl-prev
{
    width:50px;
    height:17px;
    background-image: url('/svg/ArrowLeft.svg');
}
#sync2 .owl-nav .owl-next
{
    transform: translateX(20px);
    width:50px;
    height:17px;
    background-image: url('/svg/ArrowRight.svg');
}
#sync1 .owl-dots
{
    display: block!important;
}

.hover01 {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}
.hover01:hover {
    -webkit-transform: scale(1.03);
    transform: scale(1.03);
}
.p-32 {
    padding-top: 32%;
}
.owl-dots {
    display: none!important;
}
.owl-nav.disabled {
    display: block!important;
}

#dresses .owl-prev {
    display: block;
    position: absolute;
    left: -12%;
    top: 35%;
    transition: .3s ease-in-out;
}
#dresses .owl-next {
    position: absolute;
    right: -12%;
    top: 35%;
    transition: .3s ease-in-out;
}
.owl-next:focus, .owl-prev:focus
{
    outline: none;
}
.owl-theme .owl-nav [class*=owl-]:hover {
    -webkit-transform: scale(1.03);
    transform: scale(1.03);
    background: #d6d6d600!important;
}
.owl-theme .owl-nav .disabled {
    opacity: 1!important;
}
.dress-desc
{
    background: #FFFFFF;
    box-shadow: 2px 4px 50px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    top:10%;
}
.dress-header
{
    font-size: 30px;
    line-height: 110%;
    letter-spacing: 0.02em;
    color: #3A3C51;
}
.dress-info
{
    font-size: 13px;
    line-height: 110%;
    letter-spacing: 0.02em;
    color: #151515;
}
.menu-nav.show {
     height: 100vh!important;
}

.sidenav {
    height: 100%;
    width: 300px;
    position: fixed;
    z-index: 100000;
    top: 0;
    right: -300px;
    background-color: #3a3c51;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 120px;
}
.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
/*.sidenav a {*/
    /*padding: 8px 8px 8px 32px;*/
    /*text-decoration: none;*/
    /*color:white;*/
    /*font-size: 20px;*/
    /*display: block;*/
    /*transition: 0.3s;*/
/*}*/

/*.sidenav a:hover {*/
    /*color: #f1f1f1;*/
/*}*/

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}