/* 300px - 500px */
@media screen and (min-width: 300px) and (max-width: 700px) {
    .call-us
    {
        border-left: 0px;
    }
    .mobile-pad
    {
        padding: 12% 0 0 10%!important;
    }
    .oliva
    {
        width:50%!important;
    }
    .texter
    {
        font-size: 90%!important;
    }
    .font-caveat
    {
        line-height: 100%;
    }
    .img-feed
    {
        width:100%!important;
        height:27vh!important;
    }
    .car-items
    {
        width:54%!important;
    }
    .img-mobile
    {
        bottom: 75% !important;
    }
    #sync1 .owl-dots
    {
        display: none!important;
    }
    .right-3 {
        right: 3%!important;
    }
    .owl-dots {
        display:  none!important;
    }
    .pos-img {
        width: 41%!important;
        right: 55%!important;
        bottom: -7%!important;
    }
    .pos-img2 {
        width: 21%!important;
        bottom: -4%!important;
    }
    .pos-img3{
        width: 16%!important;
        bottom: 13%!important;
        left: 7%!important;
    }
    .hanger {
        width: 9%!important;
        right: 6%!important;
        bottom: -4%!important;
    }
    .display-none {
        display:  none!important;
    }
    .display-flex {
        display:  none;
        justify-content: center;

    }
    .pos-ab-mobile {
        top:-30%!important;
        right: -20%!important;
    }
    .cholpon {
        transform: translate(20%,-103%)!important;
    }
    .main-section-img-1 {
        right: 3%!important;
        bottom: 59%!important;
        width: 30%!important;
    }
    .main-section-img-2 {
        right: 2%!important;
        bottom: 29%!important;
    }
    .translateY-none {
        transform: translateY(0px)!important;
    }
    .translate-none {
        transform: translate(0%, 0%)!important;
    }
    .about-us-translate{
        transform: translate(1%,0)!important;
    }
    .about-us-text {
        transform: translate(43%,56%)!important;
    }
    .about-us-frame {
        transform: translate(32%,-170%)!important;
        font-size: 18px!important;
    }
    .effect-2 {
        margin: 30% 5% 0% 5%!important;
    }

    .mar {
        margin: 12% 4%;
    }
    /* .img-layers {
        top: -195%!important;
        left: -30%!important;
    } */
    .overflow-h {
        overflow: hidden!important;
    }
    .font-3x {
        font-size: 282%!important;
        width: 100%;
    }
    .coffeeMaker {
        width: 13%!important;
        left: 0%!important;
        top: -1%!important;
    }
    .mar-img {
        margin: 5% 0 5% 0!important;
    }
    .translateY {
        transform: translateY(8%)!important;
    }
    .translate {
        transform: translate(99%,-8%)!important;
    }
    .name-arr {
        transform: translate(10%, 38%)!important;
        width: 139px!important;
        height: 142px!important;
    }
    .ulia {
        transform: translate(31%,-324%)!important;
    }
    .main-text {
        font-size: 1.2rem!important;
    }
    .hearts {
        left: 0%!important;
        top: -11%!important;
    }
    .pad {
        padding-top: 0!important;
    }
    .flavor {
        top: -17%!important;
        left: 0%!important;
    }
    .balloon {
        bottom: 50%!important;
        right: 21%!important;
    }
    .our-wedding {
        top: 3%!important;
        width: 46%!important;
    }
    .love {
        width: 39%!important;
    }
    .wish {
        margin-top: -20%!important;
    }
    .m25 {
        margin-bottom: 25%!important;
    }
    .bg-transparent {
        background: white!important;
    }
    #dresses .owl-prev {
        left: 12%;
        top: 95%!important;
        height:70px;
    }
    #dresses .owl-next {
        right: 10%;
        top: 95%!important;
        height:70px;
    }
    .img-layer1
    {
        width:84%!important;
    }

}
@media screen and (min-width: 315px) and (max-width: 330px){
    .about-us-frame {
        transform: translate(28%,-120%)!important;
        font-size: 16px!important;
    }
    .about-us-text {
        transform: translate(48%,23%)!important;
        font-size: 23px!important;
    }
}
@media screen and (min-width: 410px) and (max-width: 420px) {
    .about-us-frame {
        transform: translate(32%,-123%)!important;
        font-size: 20px!important
    }
}
